################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UploadFile/obj/Debug
/UploadFile/bin
/.vs
